/*
please ensure you add new
breakpoint variables to $breakpoints so 
Wee CSS can generate utilities
for each breakpoint
*/

$md: 768px;
$lg: 1025px;
$xl: 1410px;
$xxl: 1810px;

$breakpoints: (
"": "",
"md": $md,
"lg": $lg,
"xl": $xl,
"xxl": $xxl,
);